<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!--                <property name="hibernate.connection.url">-->
<!--                    jdbc:mysql://localhost:3306/helloworlddb-->
<!--                </property>-->
<!--                    <property name="hibernate.connection.url">-->
<!--                    jdbc:mysql://localhost:3306/myDB-->
<!--                </property>-->
<!--        <property-->
<!--                name="hibernate.cache.region.factory_class"-->
<!--                value="ehcache"/>-->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/biddingschema
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            1420
        </property>
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>

<!--        <mapping class="com.arabie.dao.User"/>-->
<!--        <mapping class="com.arabie.dao.Seller"/>-->
<!--        <mapping class="com.arabie.dao.Buyer"/>-->
<!--        <mapping class="com.arabie.dao.Product"/>-->
<!--        <mapping class="com.arabie.dao.BuyerBuyProductId"/>-->
<!--        <mapping class="com.arabie.dao.BuyerBuyProduct"/>-->
<!--        <mapping class="com.arabie.dao.BuyerBidProduct"/>-->
<!--        <mapping class="com.arabie.dao.BuyerBidProductId"/>-->
<!--        <mapping class="com.arabie.dao.Category"/>-->


        <!--        <mapping resource="Account.hbm.xml"/>-->

    </session-factory>

</hibernate-configuration>